{% extends "layout.html" %}
{% block body %}
    <h1>Expences</h1>

    <form action="/added" method="post">
        <input name="sum"  type="text" autocomplete="off" autofocus placeholder="Sum">
        <select name="categories">
            <option disables selected value="">קטגוריה</option>
            <option value="fuel">דלק</option>
            <option value="food">מזון</option>
            <option value="education">חינוך</option>
            <option value="holidays">חגים</option>
            <option value="insurance">ביטוח</option>
            <option value="mortgage">משכנתה</option>
            <option value="taxes">מיסים</option>
        </select>
        <input type="submit" value="Add">
    </form>
{% endblock %}