{% extends "layout_he.html" %}

{% block title %}
    גלנטי - רישום הוצאות
{% endblock %}


{% block body %}
    {% if session.name %}
        <h1>הוצאות</h1>
        <h2>ברוך הבא, {{user_name}}</h2>
        <form action="/added" method="post">
            <input name="sum"  type="text" autocomplete="off" autofocus placeholder="סכום">
            <br>
            <select name="categories" >
                <option disabled selected value="">קטגוריה</option>
                    {% for category in categories %}
                        <option value="{{category.category_id}}">{{category.category_h_name}}</option>
                    {% endfor %}
            </select>
            <br>
            <select name="pays" >
                <option selected value="">סוג תשלום</option>
                    {% for pay in pays %}
                        <option value="{{pay.pay_id}}">{{pay.pay_h_name}}</option>
                    {% endfor %}
            </select>
            <br>
            <input name="settlements"  type="text" autocomplete="off" autofocus placeholder="מספר תשלומים" value="1">
            <br>
            <input type="date" id="paydate" name="paydate" placeholder="תאריך הוצאה" >
            <br>
            <input type="submit" value="Add">
        </form>
        <br><br><br><br><br>
        <a href="/logout">Logout.</a>
    {% else %}
        <h1> You are not logged in. <a href="/login">Log in</a></h1>
    {% endif %}
{% endblock %}