{% extends "layout.html" %}
{% block title %}
    Galanty - Expenses Tracker
{% endblock %}


{% block body %}
    {% if session.name %}
        <h1>Expenses</h1>
        <h2>Welcome, {{user_name}} </h2>
        <form action="/added" method="post">
            <input name="sum"  type="text" autocomplete="off" autofocus placeholder="Amount">
            <br>
            <select class="form-select" name="categories" >
                <option disabled selected value="">Category</option>
                    {% for category in categories %}
                        <option value="{{category.category_id}}">{{category.category_e_name}}</option>
                    {% endfor %}
            </select>
            <br>
            <select class="form-select" name="pays" >
                <option selected value="">Payment type</option>
                    {% for pay in pays %}
                        <option value="{{pay.pay_id}}">{{pay.pay_e_name}}</option>
                    {% endfor %}
            </select>
            <br>
            <input name="settlements"  type="text" autocomplete="off" autofocus placeholder="Number of payments" value="1">
            <br>
            <input type="date" id="paydate" name="paydate" placeholder="Expense date" >
            <br>
            <input type="submit" value="Add">
        </form>
        <br><br><br><br><br>
        <a href="/logout">Logout.</a>
    {% else %}
        <h1> You are not logged in. <a href="/login">Log in</a></h1>
    {% endif %}
{% endblock %}