{% if user_lang == "en" %}
    {% extends "layout.html" %}
{% else %}
    {% extends "layout_he.html" %}
{% endif %}
{% block title %}
    גלנטי - רשימת הוצאות
{% endblock %}


{% block body%}

<table>
    <thead>
        <tr>
            {% if user_lang == "en" %}
                <th>Expences</th>
                <th>Sum</th>
                <th>Num of payment</th>
                <th>Type of payment</th>
                <th>Date</th>
            {% else %}
                <th>הוצאה</th>
                <th>סכום</th>
                <th>מספר תשלומים</th>
                <th>סוג תשלום</th>
                <th>תאריך</th>
            {% endif %}
        </tr>
    </thead>
        {% for row in rows %}
            <tr>
                <td>{{ row.category_h_name }}</td>
                <td>{{ row.Sum }}</td>
                <td>{{ row.Num_Of_Pays }}</td>
                <td>{{ row.pay_h_name }}</td>
                <td>{{ row.Date_Of_Pay }}</td>
            </tr>
        {% endfor %}
    <tfoot>
        <tr>
            {% if user_lang == "en" %}
                <td>Expences</td>
                <td>Sum</td>
                <td>Num of payment</td>
                <td>Type of payment</td>
                <td>Date</td>
            {% else %}
                <td>הוצאה</td>
                <td>סכום</td>
                <td>מספר תשלומים</td>
                <td>סוג תשלום</td>
                <td>תאריך</td>
            {% endif %}
        </tr>
    </tfoot>
    <tbody>

    </tbody>
</table>

{% endblock %}
{% block foot %}
<button onclick="window.location.href='listed'">
    Current
</button>
<button onclick="window.location.href='summed'">
    Summerized
</button>
<button onclick="window.location.href='graph'">
    Graph
</button>
<button onclick="window.location.href='logout'">
    Logout
</button>
{% endblock %}