{% extends "layout.html" %}
{% block title %}
    גלנטי - רשימת הוצאות
{% endblock %}


{% block body%}

<table>
    <thead>
        <tr>
            <th>הוצאה</th>
            <th>סכום</th>
            <th>מספר תשלומים</th>
            <th>סוג תשלום</th>
            <th>תאריך</th>
        </tr>
    </thead>
        {% for row in rows %}
            <tr>
                <td>{{ row.category_h_name }}</td>
                <td>{{ row.sum }}</td>
                <td>{{ row.Num_Of_Pays }}</td>
                <td>{{ row.Pay_Name }}</td>
                <td>{{ row.Date_Of_Pay }}</td>
            </tr>
        {% endfor %}
    <tfoot>
        <tr>
            <td>הוצאה</td>
            <td>סכום</td>
        </tr>
    </tfoot>
    <tbody>

    </tbody>
</table>

{% endblock %}