{% if user_lang == "en" %}
    {% extends "layout.html" %}
{% else %}
    {% extends "layout_he.html" %}
{% endif %}
{% block title %}
    גלנטי - רשימת הוצאות
{% endblock %}


{% block body%}

<table>
    <thead>
        <tr>
            {% if user_lang == "en" %}
                <th>Expences</th>
                <th>Sum</th>
                <th>Num of payment</th>
                <th>Type of payment</th>
                <th>Date</th>
            {% else %}
                <th>הוצאה</th>
                <th>סכום</th>
                <th>מספר תשלומים</th>
                <th>סוג תשלום</th>
                <th>תאריך</th>
            {% endif %}
        </tr>
    </thead>
        {% for row in rows %}
            <tr>
                <td>{{ row.category_h_name }}</td>
                <td>{{ row.Sum }}</td>
                <td>{{ row.Num_Of_Pays }}</td>
                <td>{{ row.pay_h_name }}</td>
                <td>{{ row.Date_Of_Pay }}</td>
            </tr>
        {% endfor %}
    <tfoot>
        <tr>
            {% if user_lang == "en" %}
                <tf>Expences</tf>
                <tf>Sum</tf>
                <tf>Num of payment</tf>
                <tf>Type of payment</tf>
                <tf>Date</tf>
            {% else %}
                <tf>הוצאה</tf>
                <tf>סכום</tf>
                <tf>מספר תשלומים</tf>
                <tf>סוג תשלום</tf>
                <tf>תאריך</tf>
            {% endif %}
        </tr>
    </tfoot>
    <tbody>

    </tbody>
</table>

{% endblock %}