{% if user_lang == "en" %}
    {% extends "layout.html" %}
{% else %}
    {% extends "layout_he.html" %}
{% endif %}
{% block title %}
    Summed Expanses
{% endblock %}


{% block body%}

<table>
    <thead>
        <tr>
            <th>{{ headlines["expenses"] }}</th>
            <th>{{ headlines["sum"] }}</th>
        </tr>
    </thead>
        {% for row in rows %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.summed }}</td>
            </tr>
        {% endfor %}
    <tfoot>
        <tr>
            <td>{{ headlines["expenses"] }}</td>
            <td>{{ headlines["sum"] }}</td>
        </tr>
    </tfoot>
    <tbody>

    </tbody>

</table>
{% endblock %}
{% block foot %}
<button onclick="window.location.href='listed'">
    Current
</button>
<button onclick="window.location.href='summed'">
    Summerized
</button>
<button onclick="window.location.href='graph'">
    Graph
</button>
<button onclick="window.location.href='logout'">
    Logout
</button>
{% endblock %}