{% if user_lang == "en" %}
    {% extends "layout.html" %}
{% else %}
    {% extends "layout_he.html" %}
{% endif %}
{% block title %}
    גלנטי - רשימת הוצאות
{% endblock %}


{% block body%}

<table>
    <thead>
        <tr>
            <th>הוצאה</th>
            <th>סכום</th>
        </tr>
    </thead>
        {% for row in rows %}
            <tr>
                <td>{{ row.category_h_name }}</td>
                <td>{{ row.summed }}</td>
            </tr>
        {% endfor %}
    <tfoot>
        <tr>
            <td>הוצאה</td>
            <td>סכום</td>
        </tr>
    </tfoot>
    <tbody>

    </tbody>
</table>

{% endblock %}