{% if user_lang == "en" %}
    {% extends "layout.html" %}
{% else %}
    {% extends "layout_he.html" %}
{% endif %}
{% block title %}
    גלנטי - רשימת הוצאות
{% endblock %}


{% block body%}

<table>
    <thead>
        <tr>
            {% if user_lang == "en" %}
                <th>Expences</th>
                <th>Sum</th>
            {% else %}
                <th>הוצאה</th>
                <th>סכום</th>
            {% endif %}
        </tr>
    </thead>
        {% for row in rows %}
            <tr>
                {% if user_lang == "en" %}
                    <td>{{ row.category_e_name }}</td>
                {% else %}
                    <td>{{ row.category_h_name }}</td>
                {% endif %}
                <td>{{ row.summed }}</td>
            </tr>
        {% endfor %}
    <tfoot>
        <tr>
            {% if user_lang == "en" %}
                <td>Expences</td>
                <td>Sum</td>
            {% else %}
                <td>הוצאה</td>
                <td>סכום</td>
            {% endif %}
        </tr>
    </tfoot>
    <tbody>

    </tbody>
</table>

{% endblock %}